<!--- header and banner section start-->
<section id="shop">
  <div class="container">
    <h2>Categories</h2>
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 box00 mb-3"
        style="display: flex; justify-content: center"
      >
        <div
          class="showrunnerDiv showrunnerimg1"
          style="display: flex; justify-content: center; align-items: center"
        >
          <h2 class="showrunnerTxt">APPAREL</h2>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 box00"
        style="display: flex; justify-content: center"
      >
        <div
          class="showrunnerDiv showrunnerimg2"
          style="display: flex; justify-content: center; align-items: center"
        >
          <h2 class="showrunnerTxt">
            OFFERS <br />
            & PACKAGES
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--- header and banner section end-->

<!----------- select any batch start -------------->

<section id="shop-offers">
  <div class="container-fluid">
    <div class="container batch-top-head-tabs">
      <h2>OFFERS & PACKAGES</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>

      <ul
        class="nav nav-pills mb-2 d-flex justify-content-center"
        id="pills-tab"
        role="tablist"
      >
        <li
          class="nav-item"
          role="presentation"
          *ngFor="let i of shopTabs"
          active="tab.active"
        >
          <button
            class="nav-link tabs-boton-tabs"
            id="pills-batch1-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-batch1"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            {{ i.text1 }}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-batch1"
          role="tabpanel"
          aria-labelledby="pills-batch1-tab"
        >
          <div class="nab-container">
            <div class="nab-container-card" *ngFor="let j of shopCards">
              <div class="nab-card-img">
                <img [src]="j.img" alt="" />
                <!-- <img src="../../../assets/image/Rectangle12shop.png" alt="" /> -->
              </div>
              <div class="shop-txt">
                <h2>{{ j.txt1 }}</h2>
                <p>{{ j.txt2 }}</p>
                <p>{{ j.txt3 }}</p>
                <h3>{{ j.txt4 }}</h3>
                <!-- <a [routerLink]="'/book/workshop/' + j.id"> -->
                <button>Book Now <span>&rarr;</span></button>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-home-social></app-home-social> -->
