<section class="creative-page">
  <div class="tab-editprofile">
    <!-- <div class="tab-editprofile-img">
      <img src="./assets/image/g-force-logo 2.png" alt="" /><img
        src="./assets/image/gforce_emblem 1.png"
        alt=""
      />
      <i class="fa fa-bars" onclick="myFunction()" aria-hidden="true"></i>
    </div> -->

    <div class="button-tabs-sandwich" id="myDIV">
      <button class="tablinks" routerLink="/studentClasses">
        Enrolled Classes
      </button>
      <button class="tablinks" routerLink="/studentWorkshop">
        Enrolled Workshop
      </button>
      <button class="tablinks active" routerLink="/studentPayments">
        Transaction
      </button>
      <button class="tablinks" routerLink="/profile" id="defaultOpen">
        Edit Profile
      </button>
      <button class="tablinks" routerLink="/attendance" id="defaultOpen">
        Mark Attendance
      </button>
      <button class="tablinks" routerLink="/viewAttendance" id="defaultOpen">
        View Attendance
      </button>
      <a (click)="handleLogout()"><button>Log Out &rarr;</button></a>
    </div>
  </div>

  <div id="London" class="tabcontent enrolled-div">
    <h2>Transaction</h2>
    <div class="last-time">
      <div class="one-more">
        <div class="header_wrap">
          <div class="num_rows">
            <div class="form-group">
              <!--		Show Numbers Of Rows 		-->
              <h2>Show entries</h2>
              <select
                class="form-control"
                name="state"
                id="maxRows"
                [(ngModel)]="maxRow"
                (change)="setPagination()"
              >
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
              <i class="fa-solid fa-arrows-up-down"></i>
            </div>
          </div>
          <div class="tb_search">
            <input
              type="text"
              [(ngModel)]="searchTxt"
              (keyup)="filterData()"
              placeholder="Search.."
              class="form-control-2"
            />
            <i class="fa fa-search"></i>
          </div>
        </div>

        <table class="table table-striped table-class" id="table-id">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Type</th>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tr *ngFor="let i of paymentList; let n = index">
            <td>{{ n + 1 }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.type }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.starttime }}</td>
            <td>{{ i.endtime }}</td>
            <!-- <td><i class="fa fa-eye" aria-hidden="true"></i></td> -->
          </tr>
        </table>

        <!-- Start Pagination -->
        <div class="pagination-container">
          <nav>
            <ul class="pagination">
              <li
                data-page="1"
                *ngFor="let i of pagenationArr"
                style="cursor: pointer"
                [class]="i.status"
                (click)="changePage(i.no)"
              >
                <span>
                  {{ i.no + 1 }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
