.titleTxt {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.titleSubTxt {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.titleDesTxt {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.closeBtn {
  padding: 10px 20px;
  background-color: #333333;
  color: #f9f9f9;
  margin-left: 1rem;
  font-size: 10px;
  font-family: "Montserrat";
  line-height: 15px;
  border: none;
}
