<div class="container">
  <div class="black-white-div-map">
    <img src="./assets/image/map1 1.png" alt="" />

    <a href="#"> <span class="mark1"></span></a>
    <a href="#"> <span class="mark2"></span></a>
  </div>
</div>

<div
  class="container-fluid"
  data-aos="fade-right"
  data-aos-once="false"
  data-aos-duration="2000"
>
  <div class="container">
    <div class="row-loctaion-form">
      <div class="loctaion-div-contact">
        <div class="locaton-div-contact-data">
          <h2>Info</h2>
          <div class="dov-location-logo-text" *ngFor="let i of branchList">
            <div class="logo-im">
              <img src="./assets/image/Vector (6).png" alt="" />
            </div>
            <div class="logo-p-h">
              <h3>{{ i.name }}</h3>
              <p>
                {{ i.fulllocation }}
              </p>
            </div>
          </div>
          <div class="rectangle-tirkon">
            <div class="trikondiv">
              <img src="./assets/image/arrow 2 (1).png" alt="" />
            </div>
            <div class="trikondiv-head-img">
              <h3>Social Media</h3>
              <a
                [href]="i.text"
                target="_blank"
                *ngFor="let i of links"
                class="linkIcon"
              >
                <i [class]="i.icon"></i>
              </a>
            </div>
          </div>
          <!-- <div class="dov-location-logo-text">
            <div class="logo-im">
              <img src="./assets/image/Vector (6).png" alt="" />
            </div>
            <div class="logo-p-h">
              <h3>G-force Dance Center QC</h3>
              <p>
                Penthouse, IL Terrazzo Mall305 Tomas Morato Ave., Corner Scout
                Madrinan St., Quezon City
              </p>
              <div class="rectangle-tirkon">
                <div class="trikondiv">
                  <img src="./assets/image/arrow 2 (1).png" alt="" />
                </div>
                <div class="trikondiv-head-img">
                  <h3>Social Media</h3>
                  <a href="#"
                    ><img src="./assets/image/Group 35.png" alt=""
                  /></a>
                  <a href="#"
                    ><img src="./assets/image/Group 36.png" alt=""
                  /></a>
                  <a href="#"
                    ><img src="./assets/image/Group 37.png" alt=""
                  /></a>
                  <a href="#"
                    ><img src="./assets/image/Group 38.png" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="dov-location-logo-text">
            <div class="logo-im">
              <img src="./assets/image/Vector (6).png" alt="" />
            </div>
            <div class="logo-p-h">
              <h3>G-force Dance Center Cebu</h3>
              <p>
                Level 2, Robinsons Galleria Cebu General Maxilom Ave., Brgy.
                Tejero Cebu City
              </p>
            </div>
          </div> -->
          <!-- <div class="dov-location-logo-text">
            <div class="logo-im">
              <img src="./assets/image/Vector (6).png" alt="" />
            </div>
            <div class="logo-p-h">
              <h3>G-force Dance Center Dubai</h3>
              <p>Gold’s Gym, Reef Mall, Salah Al Din, Dubai, UAE</p>
            </div>
          </div>
          <div class="dov-location-logo-text">
            <div class="logo-im">
              <img src="./assets/image/Vector (6).png" alt="" />
            </div>
            <div class="logo-p-h">
              <h3>G-force Dance Center Abu Dhabi</h3>
              <p>
                Dee Studio, 1st Floor Landmark Plaza Building, Sheikh Hamdan Bin
                Mohammad St.(5th St), Abu Dhabi, UAE
              </p>
            </div>
          </div> -->
        </div>
      </div>

      <div class="div-contact-form">
        <form action="#">
          <h2>Send Us A Message</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>

          <input
            [(ngModel)]="name"
            type="text"
            name="yourname"
            placeholder="Your name"
          />
          <p *ngIf="nameErr" class="errorTxt">required</p>
          <input
            [(ngModel)]="email"
            type="text"
            name="email"
            placeholder="Email address"
          />
          <p *ngIf="emailErr" class="errorTxt">required</p>
          <input
            [(ngModel)]="phone"
            type="text"
            name="phno"
            placeholder="Phone number"
          />
          <p *ngIf="phoneErr" class="errorTxt">required</p>
          <textarea
            [(ngModel)]="message"
            name="message"
            id=""
            cols="30"
            rows="10"
            placeholder="Message"
          ></textarea>
          <p *ngIf="messageErr" class="errorTxt">required</p>
          <a><button (click)="handleSubmit()">Submit &rarr;</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
