<section id="force-banner">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-12 col-sm-12"
        data-aos="fade-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <div class="img8">
          <img src="../../../assets/image/force22.png" alt="The force page" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="force-slide">
  <div class="container-fluid kit">
    <h2>Select any page &nbsp; &#62;</h2>
    <div class="row">
      <div
        class="col-lg-4 col-md-12 col-sm-12 box00"
        data-aos="zoom-in-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <div class="forcebx1" routerLink="/founder">
          <h3>founding <br />director</h3>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-12 col-sm-12 box00"
        data-aos="zoom-in-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <div class="forcebx2" routerLink="/performing">
          <h3>performing <br />artist</h3>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-12 col-sm-12 box00"
        data-aos="zoom-in-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <div class="forcebx3" routerLink="/showRunner">
          <h3>
            SHOW <br />
            RUNNER
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="sm-force">
  <div class="container-fluid">
    <div class="container jbdfs">
      <h2>FOLLOW US</h2>
      <div class="hbmx">
        <div class="react-img">
          <a href="#">
            <img src="./assets/image/Rectangle 36.png" alt="" />
            <i class="fa-brands fa-facebook-f icon-con"></i
          ></a>
        </div>
        <div class="react-img">
          <a href="#">
            <img src="./assets/image/Rectangle 37.png" alt="" />
            <i class="fa-brands fa-instagram icon-con"></i
          ></a>
        </div>
        <div class="react-img">
          <a href="">
            <img src="./assets/image/Rectangle 38.png" alt="" />
            <i class="fa-brands fa-twitter icon-con"></i
          ></a>
        </div>
        <div class="react-img">
          <a href="#">
            <img src="./assets/image/Rectangle 39.png" alt="" />
            <i class="fa-brands fa-tiktok icon-con"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-home-social></app-home-social>
