<div class="container">
  <div class="text-img">
    <div class="formsign-text">
      <!-- <form action="#"> -->
      <div class="sign-in-twoimg">
        <img src="./assets/image/g-force-logo 2.png " alt="" /><img
          src="./assets/image/gforce_emblem 1.png"
          alt=""
        />
      </div>
      <h2>Forgot Password</h2>
      <!-- <p>Welcome back!Please Enter Your Details</p> -->

      <!-- <div class="div-andar-icon">
        <img src="./assets/image/googel.png" alt="" />
        <input class="loginIpt" type="text" placeholder="Login With google" />
      </div> -->
      <!-- <p>or</p> -->

      <input
        type="text"
        class="loginIpt"
        placeholder="Email"
        [(ngModel)]="email"
        *ngIf="showemail"
      />
      <p *ngIf="emailErr" class="errorTxt">required</p>

      <input
        type="text"
        class="loginIpt"
        placeholder="Enter OTP"
        [(ngModel)]="otp"
        *ngIf="showotp"
      />
      <p *ngIf="otpErr" class="errorTxt">required</p>
      <p *ngIf="otpErr2" class="errorTxt">Invalid OTP</p>

      <input
        type="text"
        class="loginIpt"
        placeholder="New Password"
        [(ngModel)]="password"
        *ngIf="showNewPassword"
      />
      <p *ngIf="passwordErr" class="errorTxt">required</p>

      <!-- <input
        class="loginIpt"
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
      /> -->
      <!-- <div class="check-forget">
        <input type="checkbox" />
        <p>Remember for 30 days</p>
        <a routerLink="/forgot-password">Forget password</a>
      </div> -->
      <a><button (click)="handleEmailSubmit()">Submit &nbsp;&rarr;</button></a>
      <!-- <a routerLink="/signup">Don't have an account? sing up for</a> -->
      <a routerLink="/login">
        <p>All ready have an account?</p>
      </a>
      <!-- </form> -->
    </div>

    <div class="formsign-img">
      <img src="./assets/image/Rectangle 43.png" alt="" />
      <div class="formsign-content">
        <h2>Lorem Ipsum is simply dummy text of the printing</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </div>
</div>
