<div class="container">
  <div class="pic-cont">
    <div
      class="cont-img"
      data-aos="fade-right"
      data-aos-once="false"
      data-aos-duration="2000"
    >
      <img src="./assets/image/Rectangle 2853.png" alt="" />
    </div>
    <div
      class="cont"
      data-aos="fade-up"
      data-aos-once="false"
      data-aos-duration="2000"
    >
      <h2>Maria Kim</h2>
      <h3>Passion for Dance</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <!-- <a href="#"><button>Register Now &rarr;</button></a> -->
    </div>
  </div>
</div>

<div class="container-fluid grop-1628">
  <div class="container">
    <h2>Screenshots of classes</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s
    </p>
    <div
      class="grop-div"
      data-aos="flip-down"
      data-aos-once="false"
      data-aos-duration="2000"
    >
      <div class="grop-card">
        <img src="./assets/image/Rectangle 2886.png" alt="" />
      </div>
      <div class="grop-card">
        <img src="./assets/image/Rectangle 2887.png" alt="" />
      </div>
      <div class="grop-card">
        <img src="./assets/image/Rectangle 2888.png" alt="" />
      </div>
    </div>
  </div>
</div>

<app-home-social></app-home-social>

<!-- <div class="container-fluid">
  <div class="container jbdfs11">
    <h2>FOLLOW US</h2>
    <div class="hbmx11">
      <div class="react-img11">
        <a href="#">
          <img src="./assets/image/Rectangle 36.png" alt="" />
          <i class="fa-brands fa-facebook-f icon-con11"></i
        ></a>
      </div>
      <div class="react-img11">
        <a href="#">
          <img src="./assets/image/Rectangle 37.png" alt="" />
          <i class="fa-brands fa-instagram icon-con11"></i
        ></a>
      </div>
      <div class="react-img11">
        <a href="">
          <img src="./assets/image/Rectangle 38.png" alt="" />
          <i class="fa-brands fa-twitter icon-con11"></i
        ></a>
      </div>
      <div class="react-img11">
        <a href="#">
          <img src="./assets/image/Rectangle 39.png" alt="" />
          <i class="fa-brands fa-tiktok icon-con11"></i
        ></a>
      </div>
    </div>
  </div>
</div> -->
