.errorTxt {
  color: red;
  position: absolute;
}

.tab-form input[type="password"] {
  margin-bottom: 10px !important;
}

.myDateIpt {
  width: 75%;
  background-color: #f9f9f9;
  padding: 16px 18px;
  display: block;
  margin: 30px auto;
  border: unset;
  color: #333333;
  margin-top: 40px !important;
  margin-bottom: 10px !important;
  background: #f9f9f9;
}
