<section id="terms">
  <div class="container">
    <div class="row">
      <div class="col-12 ft-line">
        <h1>Privacy Policies</h1>
      </div>
      <div class="col-12 sd-line">
        <div [innerHTML]="xyz"></div>
        <!-- <h3>Defined Terms:</h3>
          <p>
            Company provides a number of internet-based services through its
            platform and shall include:
          </p>
  
          <div class="terms-list1">
            <ul>
              <li>
                Posting User profile or listing for the purpose of sale/rental of
                property, and related property services etc.
              </li>
              <li>Find a property through ace capital and its internet links.</li>
              <li>
                Posting User profile or listing for the purpose of sale/rental of
                property, and related property services etc.
              </li>
              <li>Post advertisements on ace capital.</li>
              <li>
                Send advertisements and promotional messages through emails and
                messages.
              </li>
            </ul>
          </div> -->
      </div>

      <!-- <div class="col-12 th-line">
          <h3>Defined Terms:</h3>
          <p>
            Company provides a number of internet-based services through its
            platform and shall include:
          </p>
  
          <div class="terms-list2">
            <ul>
              <li>
                Posting User profile or listing for the purpose of sale/rental of
                property, and related property services etc.
              </li>
              <li>Find a property through ace capital and its internet links.</li>
              <li>
                Posting User profile or listing for the purpose of sale/rental of
                property, and related property services etc.
              </li>
              <li>Post advertisements on ace capital.</li>
              <li>
                Send advertisements and promotional messages through emails and
                messages.
              </li>
            </ul>
          </div>
        </div> -->
    </div>
  </div>
</section>
