<div class="container">
  <div class="text-img">
    <div class="formsign-text">
      <!-- <form action="#"> -->
      <div class="sign-in-twoimg">
        <img src="./assets/image/g-force-logo 2.png " alt="" /><img
          src="./assets/image/gforce_emblem 1.png"
          alt=""
        />
      </div>
      <h2>Welcome back</h2>
      <p>Welcome back!Please Enter Your Details</p>

      <div class="div-andar-icon">
        <asl-google-signin-button #googleBtnRef>
          <!-- <button (click)="loginWithGoogle()">Login With Google</button> -->
        </asl-google-signin-button>
        <!-- <img src="./assets/image/googel.png" alt="" />
        <input
          class="loginIpt"
          type="text"
          placeholder="Login With google"
          disabled
        /> -->
      </div>
      <p>or</p>
      <div *ngIf="invalidUser" style="text-align: center; color: red">
        Invalid Email or Password
      </div>
      <input
        type="text"
        class="loginIpt"
        placeholder="Email"
        [(ngModel)]="email"
      />
      <input
        class="loginIpt"
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
      />
      <div class="check-forget">
        <input type="checkbox" />
        <p>Remember for 30 days</p>
        <a routerLink="/forgot-password">Forget password</a>
      </div>
      <a><button (click)="handleSubmit()">Log in &nbsp;&rarr;</button></a>
      <a routerLink="/signup">Don't have an account? sing up for</a>
      <!-- </form> -->
    </div>

    <div class="formsign-img">
      <img src="./assets/image/Rectangle 43.png" alt="" />
      <div class="formsign-content">
        <h2>Lorem Ipsum is simply dummy text of the printing</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
