<div class="container-fluid">
  <div class="container jbdfs">
    <h2>FOLLOW US</h2>
    <div
      class="hbmx"
      data-aos="fade-down"
      data-aos-once="false"
      data-aos-duration="2000"
    >
      <div class="react-img" *ngFor="let i of links">
        <a [href]="i.text" target="_blank">
          <img [src]="i.img" alt="" />
          <i [class]="'fa-brands icon-con ' + i.icon"></i>
        </a>
      </div>
      <!-- <div class="react-img">
        <a href="#">
          <img src="./assets/image/Rectangle 37.png" alt="" />
          <i class="fa-brands fa-instagram icon-con"></i
        ></a>
      </div>
      <div class="react-img">
        <a href="">
          <img src="./assets/image/Rectangle 38.png" alt="" />
          <i class="fa-brands fa-twitter icon-con"></i
        ></a>
      </div>
      <div class="react-img">
        <a href="#">
          <img src="./assets/image/Rectangle 39.png" alt="" />
          <i class="fa-brands fa-tiktok icon-con"></i
        ></a>
      </div> -->
    </div>
  </div>
</div>
