<header>
  <nav class="navbar navbar-expand-lg color-nav1">
    <div class="container-fluid">
      <a routerLink="/">
        <img
          src="./assets/image/g-force-logo 2.png"
          alt="wrong"
          class="img-logo"
      /></a>
      <a routerLink="/"
        ><img
          src="./assets/image/gforce_emblem 1.png"
          alt="path-wrong"
          class="img-logo1"
      /></a>
      <a class="navbar-brand" routerLink="/"></a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav random-bhc">
          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link1"
              aria-current="page"
              routerLink="/"
              (click)="handleActiveLink(1)"
              >Home</a
            >
          </li>

          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link2"
              aria-current="page"
              routerLink="/theForce"
              (click)="handleActiveLink(2)"
              >The Force</a
            >
          </li>

          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link3"
              aria-current="page"
              routerLink="/school"
              (click)="handleActiveLink(3)"
              >The School</a
            >
          </li>
          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link6"
              aria-current="page"
              routerLink="/onlineSchool"
              (click)="handleActiveLink(6)"
              >Online School</a
            >
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              [class]="'nav-link dropdown-toggle ms-3 ' + link5"
              routerLink="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="handleActiveLink(5)"
            >
              The Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="https://www.lazada.com.ph/shop/g-force-dance-center"
                  target="_blank"
                >
                  Lazada
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://shopee.ph/gforcedancecenter?v=d9d&smtt=0.0.3"
                  target="_blank"
                >
                  Shopee
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link4"
              aria-current="page"
              routerLink="/workshop"
              (click)="handleActiveLink(4)"
              >The Workshop</a
            >
          </li>
          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link5"
              aria-current="page"
              routerLink="/shop"
              (click)="handleActiveLink(5)"
              >The Shop</a
            >
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              [class]="'nav-link dropdown-toggle ms-3 ' + link5"
              routerLink="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="handleActiveLink(5)"
            >
              The Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="https://www.lazada.com.ph/shop/g-force-dance-center"
                  target="_blank"
                >
                  Lazada
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://shopee.ph/gforcedancecenter?v=d9d&smtt=0.0.3"
                  target="_blank"
                >
                  Shopee
                </a>
              </li>
            </ul>
          </li> -->
          <!-- <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link6"
              aria-current="page"
              routerLink="/career"
              (click)="handleActiveLink(6)"
              >Careers</a
            >
          </li> -->
          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link7"
              aria-current="page"
              routerLink="/blog"
              (click)="handleActiveLink(7)"
              >Blogs</a
            >
          </li>
          <li class="nav-item">
            <a
              [class]="'nav-link ms-3 ' + link8"
              aria-current="page"
              routerLink="/contact"
              (click)="handleActiveLink(8)"
              >Contact</a
            >
          </li>
          <div class="dropdown ms-3">
            <button
              class="btn btn-secondary dropdown-toggle ph-botton"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              PH
            </button>
            <ul class="dropdown-menu top-menu-drop">
              <li><a class="dropdown-item" routerLink="#">EN</a></li>
              <li><a class="dropdown-item" routerLink="#">AR</a></li>
              <!-- <li><a class="dropdown-item" routerLink="#">AD</a></li> -->
            </ul>
          </div>
          <i
            style="cursor: pointer"
            routerLink="/profile"
            class="bi bi-person hjdf1"
          ></i>
        </ul>
      </div>
    </div>
  </nav>
</header>
