<section id="force-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div
          class="img8"
          data-aos="fade-down"
          data-aos-once="false"
          data-aos-duration="2000"
        >
          <img src="../../../assets/image/force22.png" alt="The force page" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ft-prt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1>About G-Force</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div
          class="ramdin-1 about-heading"
          data-aos="fade-right"
          data-aos-once="false"
          data-aos-duration="2000"
        >
          <a href="#">
            <!-- <h2>About G-Force</h2> -->
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div
          class="ramdin-2"
          data-aos="fade-up"
          data-aos-once="false"
          data-aos-duration="2000"
        >
          <img src="./assets/image/Group 16058.png" alt="" width="100%" />
        </div>
        <div class="ramdin-3 rotate-text">
          <h2>Dance <br />With Us:</h2>
          <p>LOREM IPSUM IS SIMPLY DUMMY</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sd-prt">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          totam unde, obcaecati, necessitatibus iure eligendi quisquam
          temporibus dolor, ipsa quasi numquam facilis! Sunt consectetur labore
          quae architecto vitae id aliquid voluptatibus iure natus saepe, error
          consequatur dolore sequi! Sapiente dolor similique hic incidunt! Dicta
          ullam aut corrupti quos praesentium, id cupiditate deserunt error
          nostrum. Commodi consequuntur assumenda molestias autem possimus?
          Nostrum atque minus dolorum et cumque commodi? Temporibus natus unde
          beatae, aspernatur vel, ut, quis quibusdam magni incidunt odio velit.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          totam unde, obcaecati, necessitatibus iure eligendi quisquam
          temporibus dolor, ipsa quasi numquam facilis! Sunt consectetur labore
          quae architecto vitae id aliquid voluptatibus iure natus saepe, error
          consequatur dolore sequi! Sapiente dolor similique hic incidunt! Dicta
          ullam aut corrupti quos praesentium, id cupiditate deserunt error
          nostrum. Commodi consequuntur assumenda molestias autem possimus?
          Nostrum atque minus dolorum et cumque commodi? Temporibus natus unde
          beatae, aspernatur vel, ut, quis quibusdam magni incidunt odio velit.
        </p>
      </div>
    </div>
  </div>
</section>

<app-homedetail-cards></app-homedetail-cards>
<app-home-social></app-home-social>
