<header>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div
            class="top-img1"
            data-aos="fade-down"
            data-aos-once="false"
            data-aos-duration="2000"
          >
            <img src="./assets/image/Group 16061.png" alt="" />
          </div>
        </div>
        <div class="col-6">
          <img
            [src]="ds.baseurl + 'TheForceImage/' + found.banner_image"
            alt=""
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="container top-mossa s">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 top-img-mossa"
        data-aos="fade-right"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <img
          [src]="ds.baseurl + 'TheForceImage/' + found.image"
          alt=""
          style="width: 100%"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mon-we">
        <h2 [innerHTML]="found.name"></h2>
        <h3 [innerHTML]="found.speciality"></h3>
        <br />
        <p [innerHTML]="found.description"></p>
        <!-- <a href="#"
          ><button class="regiter-button">Register Now &rarr;</button></a
        > -->
        <div class="social">
          <h3>Social media</h3>
          <div class="media-box02">
            <div class="icon-icon-1" *ngFor="let i of links">
              <a [href]="i.text" target="_blank"> <i [class]="i.icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 5rem" class="found-slide">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide class="select-card" *ngFor="let i of slide">
        <div class="slider-img-1">
          <img [src]="ds.baseurl + 'TheForceMultipleImage/' + i" alt="" />
        </div>
      </ng-template>
      <!-- <ng-template carouselSlide class="select-card">
        <div class="slider-img-1">
          <img src="./assets/image/two.png" alt="" />
        </div>
      </ng-template>
      <ng-template carouselSlide class="select-card">
        <div class="slider-img-1">
          <img src="./assets/image/three.png" alt="" />
        </div>
      </ng-template>
      <ng-template carouselSlide class="select-card">
        <div class="slider-img-1">
          <img src="./assets/image/four.png" alt="" />
        </div>
      </ng-template>
      <ng-template carouselSlide class="select-card">
        <div class="slider-img-1">
          <img src="./assets/image/five.png" alt="" />
        </div>
      </ng-template> -->
    </owl-carousel-o>
  </div>

  <app-home-social></app-home-social>
</div>
