<div class="conatiner-fluid color-alag1">
  <div class="container">
    <div class="row p-t-p-t">
      <div class="col-6 col-md-5 clickable width-ghat">
        <h2>Let’s stay in touch!</h2>
        <!-- <p>Lorem Ipsum is simply dummy text.</p> -->
      </div>
      <div class="col-6 col-md-7 new-boton width-ghat">
        <input
          type="email"
          placeholder="Enter your email"
          [(ngModel)]="email"
        />
        <button type="button" (click)="handleSubmit()">Submit &rarr;</button>
      </div>
    </div>

    <div class="row over-round">
      <div class="own-width1">
        <img src="./assets/image/g-force-logo 3.png" alt="" />
        <!-- <div class="icon-icon-1">
          
          <a routerLink="#"> <i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <div class="icon-icon-1">
          <a routerLink="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="icon-icon-1">
          <a routerLink="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="icon-icon-1">
          <a routerLink="#"><i class="fa-brands fa-youtube"></i></a>
        </div>  -->
        <div class="media-box">
          <div class="icon-icon-1" *ngFor="let i of links">
            <a [href]="i.text" target="_blank"> <i [class]="i.icon"></i></a>
          </div>
          <!-- <div class="icon-icon-1">
            <a routerLink="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="icon-icon-1">
            <a routerLink="#"><i class="fa-brands fa-twitter"></i></a>
          </div>
          <div class="icon-icon-1">
            <a routerLink="#"><i class="fa-brands fa-youtube"></i></a>
          </div> -->
        </div>
      </div>

      <div class="own-width2">
        <h2>G-Force</h2>
        <p>
          {{ footer_desc }}
        </p>
      </div>
      <div class="own-width3">
        <h2>G-Force dance center</h2>
        <p>
          {{ dance_desc }}
        </p>
      </div>
      <div class="own-width4">
        <h2>Contact</h2>
        <p>
          Phone: <a [href]="'tel:' + footerNumber"> {{ footerNumber }} </a>
        </p>
        <p>
          <a href="https://goo.gl/maps/2sjrwx54TEdaV4ND9">
            {{ footerAddress }}
          </a>
        </p>
        <p>
          <a [href]="'mailto:' + cUsEmail"> {{ cUsEmail }}</a>
        </p>
      </div>
      <div class="own-width5">
        <h2>Menu</h2>
        <a routerLink="/">
          <li>Home</li>
        </a>
        <a routerLink="/about-us">
          <li>About Us</li>
        </a>
        <a routerLink="/blog">
          <li>Blogs</li>
        </a>
        <a routerLink="/career">
          <li>Careers</li>
        </a>
        <a routerLink="/contact">
          <li>Contact</li>
        </a>
      </div>
    </div>

    <div class="last-css" style="display: flex; justify-content: space-between">
      <div>@2023 All rights reserved</div>
      <div class="footerlinks">
        <ul>
          <li>
            <a class="footerLink" routerLink="/terms-coditions">Terms of Use</a>
          </li>
          <li>
            <a class="footerLink" routerLink="/privacy-policies"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
